 * {
  margin:0px;
}
table { 
  border: 2px #808080 solid; 
  border-collapse: collapse;
}
.day {
  font-family: cursive;
  vertical-align: top;
  text-align: right;
  width: 11.5%;
}
div.day {
  width:100%;
}
.sun {
  color: red;
}
.sat {
  color: blue;
}
.date {
  font-size: 1em;
}
.remarks {
  font-family: cursive;
  vertical-align: middle;
  text-align: center;
  font-size: 1.2em;
}
.leftText {
  font-family: cursive;
  vertical-align: middle;
  text-align: center;
  font-size: 1.2em;
}

.hd {
  font-family: cursive;
  font-size: 0.8em;
  text-align: center;
}
.month {
  width: 19.5%;
  font-family: cursive;
  vertical-align: top;
  text-align: left;
  font-size: 2em;
}
.ta {
  height: 5em;
  width: 300px;
}
